@using Quadwave.Models;
@model List<customer>
@{
    ViewBag.Title = "ViewPage";
}

<h2>View Details Of Customers</h2>
@foreach (customer cu in Model)
{
    <h2> Welcome @cu.customer_name </h2>
    <table class="table table-bordered">
        <tr>
            <th>Customer Name</th>
            <th>Customer id</th>
            <th>Fisrt Name</th>
            <th>Last Name</th>
            <th>Mobile No.</th>
            <th>City</th>
            <th>Street Address</th>
            <th>Countory</th>
        </tr>
        <tr>
            <td>@cu.customer_name</td>
            <td>@cu.customer_id</td>
            <td>@cu.fname</td>
            <td>@cu.lname</td>
            <td>@cu.number</td>
            <td>@cu.city</td>
            <td>@cu.address</td>
            <td>@cu.country</td>
        </tr>
    </table>

}